alembic==1.13.2
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
fastapi==0.112.0
uvicorn[standard]==0.30.5
pydantic==2.8.2
pydantic-settings==2.4.0
pdfplumber==0.11.4
python-multipart==0.0.9
pdf2image==1.17.0
pytesseract==0.3.10
